NATS_CLIENT_PORT=14222
NATS_MONITOR_PORT=18222

POSTGRES_PORT=15432
POSTGRES_USER=ae_local
POSTGRES_PASSWORD=ae_local_password
POSTGRES_DB=ae_local

MINIO_API_PORT=19000
MINIO_CONSOLE_PORT=19001
MINIO_ROOT_USER=ae_local
MINIO_ROOT_PASSWORD=ae_local_password
MINIO_BUCKET=ae-local-poc
