name: ci-core
on:
  workflow_call:
    inputs:
      node-version:
        required: false
        type: string
        default: '20'
      run-script:
        required: true
        type: string
permissions: read-all

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
jobs:
  run:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node + pnpm
        uses: ./.github/actions/setup-node-pnpm
        with:
          node-version: ${{ inputs.node-version }}
      - run: pnpm install --frozen-lockfile || pnpm install --no-frozen-lockfile
      - run: pnpm run ${{ inputs.run-script }}
