name: Flake Detect
on:
  workflow_dispatch:
  schedule:
    - cron: '0 21 * * *' # JST 06:00
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  issues: write
  pull-requests: write
jobs:
  flake-detection:
    uses: ./.github/workflows/flake-stability.yml
    with:
      mode: detect
